.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}
.gg{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin-left: -500px;
  margin-top: 200px;
  
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: rgb(139, 0, 0);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 44px;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
    margin-left: 60px;
    margin-top: 35px;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 60%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

@media screen and (max-width: 480px) {

  .gg{
    margin-left: 50px;
    margin-top: -650px;
  }
  .portfolio span{
    margin-left: -13px;
  }
  
}