.floatingDiv {
  justify-content: center;  /* Center the content */
  background: none;         /* Remove any background */
  box-shadow: none;         /* Remove box shadow */
  border-radius: 17px;      /* Retain rounded corners */
  display: flex;
  align-items: center;      /* Vertically center items */
  padding: 0;               /* Remove padding */
  height: auto;
  margin-top: 30px;             /* Allow height to be dynamic based on image size */
}

.floatingDiv > img {
  transform: scale(1);      /* Set scale to 1 for normal size */
  width: 80%;              /* Make the image take the full width */
  height: auto;             /* Maintain aspect ratio */
}

.floatingDiv > span {
  display: none;            /* Hide any text */
}


@media screen and (max-width: 480px) {
  .w-right {
    margin-top: 70px;
  }
}

